<a href="https://colab.research.google.com/github/kroy900/Auto_Support_Resistance/blob/main/s_r_ver1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.5 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 9.9 MB/s
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [2]:
pip install talib-binary

Collecting talib-binary
  Downloading talib_binary-0.4.19-cp37-cp37m-manylinux1_x86_64.whl (2.4 MB)
     |████████████████████████████████| 2.4 MB 5.0 MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from talib-binary) (1.21.6)
Installing collected packages: talib-binary
Successfully installed talib-binary-0.4.19

In [3]:
pip install pandas_ta

Collecting pandas_ta
  Downloading pandas_ta-0.3.14b.tar.gz (115 kB)
     |████████████████████████████████| 115 kB 5.3 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)
Building wheels for collected packages: pandas-ta
  Building wheel for pandas-ta (setup.py) ... done
  Created wheel for pandas-ta: filename=pandas_ta-0.3.14b0-py3-none-any.whl size=218923 sha256=55ca569530bbf7f59377bece0fb519b73d3dd96d60eb1456f747a2e846b6de25
  Stored in directory: /root/.cache/pip/wheels/0b/81/f0/cca85757840e4616a2c6b9fe12569d97d324c27cac60724c58
Successfully built pandas-ta
Installing collected packages: pandas-ta
Successfully installed pandas-ta-0.3.14b0

In [33]:
import pandas as pd
import numpy as np
import pandas_ta as ta
import yfinance as yf
from talib import RSI

In [42]:
name = 'BEL.NS'
ticker = yfinance.Ticker(name)
df = ticker.history(interval="1d",start="2020-03-15", end="2022-05-06")
#df = yf.download(tickers='BEL.NS',interval="1d",start="2020-03-15", end="2022-05-06")
df['Open'] = df['Open'].round(3)
df['High'] = df['High'].round(3)
df['Low'] = df['Low'].round(3)
df['Close'] = df['Close'].round(3)
df.tail()

              Open    High     Low   Close   Volume  Dividends  Stock Splits
Date
2022-04-28  250.00  250.00  243.50  246.65  3085507        0.0             0
2022-04-29  247.75  249.85  236.75  238.55  7310831        0.0             0
2022-05-02  235.00  239.40  233.70  238.15  4647385        0.0             0
2022-05-04  239.00  239.85  228.80  231.20  5347111        0.0             0
2022-05-05  234.85  238.40  232.00  234.90  6285804        0.0             0

In [6]:
pip install pandas_ta

Requirement already satisfied: pandas_ta in /usr/local/lib/python3.7/dist-packages (0.3.14b0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandas_ta) (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandas_ta) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandas_ta) (1.15.0)

In [ ]:
help(ta.hma)

Help on function hma in module pandas_ta.overlap.hma:

hma(close, length=None, offset=None, **kwargs)
    Hull Moving Average (HMA)

    The Hull Exponential Moving Average attempts to reduce or remove lag in moving
    averages.

    Sources:
        https://alanhull.com/hull-moving-average

    Calculation:
        Default Inputs:
            length=10
        WMA = Weighted Moving Average
        half_length = int(0.5 * length)
        sqrt_length = int(sqrt(length))

        wmaf = WMA(close, half_length)
        wmas = WMA(close, length)
        HMA = WMA(2 * wmaf - wmas, sqrt_length)

    Args:
        close (pd.Series): Series of 'close's
        length (int): It's period. Default: 10
        offset (int): How many periods to offset the result. Default: 0

    Kwargs:
        fillna (value, optional): pd.DataFrame.fillna(value)
        fill_method (value, optional): Type of fill method

    Returns:
        pd.Series: New feature generated.

In [43]:
from numpy.ma.core import harden_mask
# def EMA fast and slow parameters
fast = 5
slow = 12

# HMA fast and slow calculation
df['src1'] = ta.hma(df['Open'], fast).shift(1).round(2)
df['src2'] = ta.hma(df['Close'], slow).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2
Date,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00

In [44]:
df['momm1'] = df.src1 - df.src1.shift(1)
df['momm2'] = df.src2 - df.src2.shift(1)
df['momm1'] = df['momm1'].round(2)
df['momm2'] = df['momm2'].round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2
Date,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,-1.88
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,-3.16
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,-3.38
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,-4.28
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,-3.29

In [45]:
def compare_values1(m,n):
  if m >= n:
    return m
  else:
    return 0.0

In [46]:
def compare_values2(m,n):
  if m >= n:
    return 0.0
  else:
    return -m

In [47]:
df['m1'] = df[['momm1' , 'momm2']].apply(lambda x: compare_values1(x['momm1'],x['momm2']),axis=1)
df['m2'] = df[['momm1' , 'momm2']].apply(lambda x: compare_values2(x['momm1'],x['momm2']),axis=1)

df['m1'] = df['m1'].round(2)
df['m2'] = df['m2'].round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2
Date,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,-1.88,-1.23,0.00
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,-3.16,2.45,0.00
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,-3.38,0.69,0.00
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,-4.28,0.00,9.61
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,-3.29,0.00,5.34

In [48]:
def percentage_calc(nom,div):
  return nom/div * 100

In [49]:
df['sm1'] = df.m1 - df.m2
df['sm2'] = df.m1 + df.m2

df['sm1'] = df['sm1'].round(2)
df['sm2'] = df['sm2'].round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2
Date,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,-1.88,-1.23,0.00,-1.23,-1.23
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,-3.16,2.45,0.00,2.45,2.45
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,-3.38,0.69,0.00,0.69,0.69
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,-4.28,0.00,9.61,-9.61,9.61
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,-3.29,0.00,5.34,-5.34,5.34

In [50]:
df['cmo'] = df[['sm1' , 'sm2']].apply(lambda x: percentage_calc(x['sm1'],x['sm2']),axis=1)

df['cmo'] = df['cmo'].round(2)
df.tail()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning:

invalid value encountered in double_scalars

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2,cmo
Date,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,-1.88,-1.23,0.00,-1.23,-1.23,100.0
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,-3.16,2.45,0.00,2.45,2.45,100.0
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,-3.38,0.69,0.00,0.69,0.69,100.0
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,-4.28,0.00,9.61,-9.61,9.61,-100.0
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,-3.29,0.00,5.34,-5.34,5.34,-100.0

In [51]:
#df['h'] = max(df.High , df.High.shift(1), axis=1)
df['h'] = df['High'].rolling(2).max().round(2)
df['l'] = df['Low'].rolling(2).min().round(2)

df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2,cmo,h,l
Date,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,-1.88,-1.23,0.00,-1.23,-1.23,100.0,250.00,242.85
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,-3.16,2.45,0.00,2.45,2.45,100.0,250.00,236.75
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,-3.38,0.69,0.00,0.69,0.69,100.0,249.85,233.70
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,-4.28,0.00,9.61,-9.61,9.61,-100.0,239.85,228.80
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,-3.29,0.00,5.34,-5.34,5.34,-100.0,239.85,228.80

In [52]:
# def SMA parms
len5 = 2

# SMA  calculation
df['sma_h'] = ta.sma(df['h'], len5).round(2)
df['sma_l'] = ta.sma(df['l'], len5).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,momm2,m1,m2,sm1,sm2,cmo,h,l,sma_h,sma_l
Date,,,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,-1.88,-1.23,0.00,-1.23,-1.23,100.0,250.00,242.85,251.70,242.85
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,-3.16,2.45,0.00,2.45,2.45,100.0,250.00,236.75,250.00,239.80
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,-3.38,0.69,0.00,0.69,0.69,100.0,249.85,233.70,249.93,235.22
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,-4.28,0.00,9.61,-9.61,9.61,-100.0,239.85,228.80,244.85,231.25
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,-3.29,0.00,5.34,-5.34,5.34,-100.0,239.85,228.80,239.85,228.80

In [53]:
# ta.dev calculation
df['dev_h'] = df['sma_h'].sub(df['h'], axis = 0).round(2)
df['dev_l'] = df['l'].sub(df['sma_l'], axis = 0).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,m2,sm1,sm2,cmo,h,l,sma_h,sma_l,dev_h,dev_l
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,...,0.00,-1.23,-1.23,100.0,250.00,242.85,251.70,242.85,1.70,0.00
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,...,0.00,2.45,2.45,100.0,250.00,236.75,250.00,239.80,0.00,-3.05
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,...,0.00,0.69,0.69,100.0,249.85,233.70,249.93,235.22,0.08,-1.52
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,...,9.61,-9.61,9.61,-100.0,239.85,228.80,244.85,231.25,5.00,-2.45
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,...,5.34,-5.34,5.34,-100.0,239.85,228.80,239.85,228.80,0.00,0.00

In [54]:
# compare dev & sma values
import math
def dev_sma_comp1(a,b):
  if a > 0:
    return np.nan
  else:
    return b

In [55]:
df['h1'] = df[['dev_h' , 'h']].apply(lambda x: dev_sma_comp1(x['dev_h'],x['h']),axis=1)
df['l1'] = df[['dev_l' , 'l']].apply(lambda x: dev_sma_comp1(x['dev_l'],x['l']),axis=1)

df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,sm2,cmo,h,l,sma_h,sma_l,dev_h,dev_l,h1,l1
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,...,-1.23,100.0,250.00,242.85,251.70,242.85,1.70,0.00,NaN,242.85
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,...,2.45,100.0,250.00,236.75,250.00,239.80,0.00,-3.05,250.00,236.75
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,...,0.69,100.0,249.85,233.70,249.93,235.22,0.08,-1.52,NaN,233.70
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,...,9.61,-100.0,239.85,228.80,244.85,231.25,5.00,-2.45,NaN,228.80
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,...,5.34,-100.0,239.85,228.80,239.85,228.80,0.00,0.00,239.85,228.80

In [56]:
# Fix NaN
df['hpivot'] = df['h1'].fillna(method='ffill')
df['lpivot'] = df['l1'].fillna(method='ffill')

df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,h,l,sma_h,sma_l,dev_h,dev_l,h1,l1,hpivot,lpivot
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,...,250.00,242.85,251.70,242.85,1.70,0.00,NaN,242.85,253.40,242.85
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,...,250.00,236.75,250.00,239.80,0.00,-3.05,250.00,236.75,250.00,236.75
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,...,249.85,233.70,249.93,235.22,0.08,-1.52,NaN,233.70,250.00,233.70
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,...,239.85,228.80,244.85,231.25,5.00,-2.45,NaN,228.80,250.00,228.80
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,...,239.85,228.80,239.85,228.80,0.00,0.00,239.85,228.80,239.85,228.80

In [57]:
# Calculate RSI
length = 9

df['RSI'] = ta.rsi(df['Close'], length).round(2)
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,l,sma_h,sma_l,dev_h,dev_l,h1,l1,hpivot,lpivot,RSI
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,...,242.85,251.70,242.85,1.70,0.00,NaN,242.85,253.40,242.85,60.02
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,...,236.75,250.00,239.80,0.00,-3.05,250.00,236.75,250.00,236.75,46.36
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,...,233.70,249.93,235.22,0.08,-1.52,NaN,233.70,250.00,233.70,45.78
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,...,228.80,244.85,231.25,5.00,-2.45,NaN,228.80,250.00,228.80,36.80
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,...,228.80,239.85,228.80,0.00,0.00,239.85,228.80,239.85,228.80,43.44

In [58]:
# Function to find Support & Resistance

# Support
def Support(rsi1,cmo1,lpivot1):
  if rsi1 < 25 and cmo1 > 50 and cmo1 > lpivot1:  
    return 1
  else:
    return 0

# Resistance
def Resistance(rsi1,cmo1,hpivot1):
  if rsi1 > 75 and cmo1 < -50 and cmo1 < hpivot1:
    return 1
  else:
    return 0

In [59]:
# Find Sup & Res boolean switch

df['sup'] = df[['RSI' , 'cmo' , 'lpivot']].apply(lambda x: Support(x['RSI'],x['cmo'],x['lpivot']),axis=1)
df['res'] = df[['RSI' , 'cmo' , 'hpivot']].apply(lambda x: Resistance(x['RSI'],x['cmo'],x['hpivot']),axis=1)

df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,sma_l,dev_h,dev_l,h1,l1,hpivot,lpivot,RSI,sup,res
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-28,250.00,250.00,243.50,246.65,3085507,0.0,0,245.76,248.11,-1.23,...,242.85,1.70,0.00,NaN,242.85,253.40,242.85,60.02,0,0
2022-04-29,247.75,249.85,236.75,238.55,7310831,0.0,0,248.21,244.95,2.45,...,239.80,0.00,-3.05,250.00,236.75,250.00,236.75,46.36,0,0
2022-05-02,235.00,239.40,233.70,238.15,4647385,0.0,0,248.90,241.57,0.69,...,235.22,0.08,-1.52,NaN,233.70,250.00,233.70,45.78,0,0
2022-05-04,239.00,239.85,228.80,231.20,5347111,0.0,0,239.29,237.29,-9.61,...,231.25,5.00,-2.45,NaN,228.80,250.00,228.80,36.80,0,0
2022-05-05,234.85,238.40,232.00,234.90,6285804,0.0,0,233.95,234.00,-5.34,...,228.80,0.00,0.00,239.85,228.80,239.85,228.80,43.44,0,0

In [60]:
rslt_df = df[(df['sup'] == 1) | (df['res'] == 1)]
rslt_df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,src1,src2,momm1,...,sma_l,dev_h,dev_l,h1,l1,hpivot,lpivot,RSI,sup,res
Date,,,,,,,,,,,,,,,,,,,,,
2022-04-08,238.70,242.20,234.95,239.60,28930777,0.0,0,221.54,231.01,-0.43,...,219.38,-2.15,2.17,242.20,NaN,242.20,217.20,86.16,0,1
2022-04-13,244.05,250.25,244.05,247.10,11728588,0.0,0,248.91,247.97,2.88,...,237.45,-1.02,0.00,250.25,237.45,250.25,237.45,85.98,0,1
2022-04-18,246.00,256.30,244.25,254.95,19355571,0.0,0,247.36,252.61,-1.55,...,240.75,-3.02,3.30,256.30,NaN,256.30,237.45,88.86,0,1
2022-04-19,255.00,259.50,248.05,250.30,13064282,0.0,0,246.66,255.32,-0.70,...,244.15,-1.60,0.10,259.50,NaN,259.50,237.45,78.15,0,1
2022-04-22,252.45,256.65,250.85,251.65,4675141,0.0,0,255.87,256.75,-0.57,...,250.72,0.00,0.13,258.70,NaN,258.70,237.45,75.78,0,1

In [66]:
import matplotlib.pyplot as plt
import plotly.graph_objects as go
df.reset_index(inplace=True)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 531 entries, 0 to 530
Data columns (total 30 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Date          531 non-null    datetime64[ns]
 1   Open          531 non-null    float64
 2   High          531 non-null    float64
 3   Low           531 non-null    float64
 4   Close         531 non-null    float64
 5   Volume        531 non-null    int64
 6   Dividends     531 non-null    float64
 7   Stock Splits  531 non-null    int64
 8   src1          525 non-null    float64
 9   src2          518 non-null    float64
 10  momm1         524 non-null    float64
 11  momm2         517 non-null    float64
 12  m1            531 non-null    float64
 13  m2            524 non-null    float64
 14  sm1           524 non-null    float64
 15  sm2           524 non-null    float64
 16  cmo           522 non-null    float64
 17  h             530 non-null    float64
 18  l             530 non-null    float64
 19  sma_h         529 non-null    float64
 20  sma_l         529 non-null    float64
 21  dev_h         529 non-null    float64
 22  dev_l         529 non-null    float64
 23  h1            338 non-null    float64
 24  l1            290 non-null    float64
 25  hpivot        530 non-null    float64
 26  lpivot        530 non-null    float64
 27  RSI           522 non-null    float64
 28  sup           531 non-null    int64
 29  res           531 non-null    int64
dtypes: datetime64[ns](1), float64(25), int64(4)
memory usage: 124.6 KB

In [70]:
fig = go.Figure(data=[go.Candlestick(x=df['Date'],
                      open=df['Open'],               
                      high=df['High'],
                      low=df['Low'],
                      close=df['Close'])])
fig.show()